<!doctype html>
<html>
    <head>
        <title>Edit</title>
    </head>

    <body>
        <h1>Edit Product Details</h1>
        <form  action="" method="POST" id="products">
            <input type="hidden" name="productname" value='{{product["name"]}}'/>
            {{ eform.csrf_token() }}
            {{eform.edit_name.label(class="form-control-label")}}<br>
            {{eform.edit_name(class="form-control form-control-lg",placeholder=product["name"]) }}

        </div>
    </body>

</html>
