<!doctype html>
<html>
    <head>
        <title>Emily's Cafe Menu</title>
    </head>

    <body>
        <h1> Emily's Cafe Menu</h1>
        <a href="/manage">Manage Products</a> <br>
        <a href="/reset">Reset Database</a> <br>
        <br>


        <table border = 1>
            <thead>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Stock</td>
                <td>Image</td>
            </thead>

            {% for product in products %}
                <tr>
                <td>{{product["name"]}}</td>
                <td>{{product["description"]}}</td>
                <td>{{product["price"]}}</td>
                <td>{{product["stock"]}}</td>
                <td><img src='{{product["src"]}}' /></td>
                <td><a href='/buy/{{product["id"]}}'>BUY</button></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
